<title>{{title}}</title>

<div class="content center-text">
  <h1>Your all in one electronics shopping website is here.</h1>
  <p>Welcome to MAKE IT WORK!!</p>
  <a class="btn" href="/products">Explore our products</a>

</div>

